server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:~/test;DB_CLOSE_DELAY=- 1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
      properties:
        hibernate:
          show_sql: true
      hibernate:
        ddl-auto: update
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS : false


  h2:
    console:
      enabled: true
      path: /h2-console
